body {
    background-color: #1C2331;
}

.card {
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
}

.card-header {
    display: flex;
    flex-direction: row;
}

h3 {
    margin-bottom: 0px;
}

#exchange-holder {
    margin-left: 25px;
    margin-right: 25px;
}

.panel-rate {
    text-align: right;
    flex-grow: 1;
}

#btc--card {
    margin-left: 40px;
    margin-right: 20px;
}

#eth--card {
    margin-left: 20px;
    margin-right: 20px;
}

#ltc--card {
    margin-left: 20px;
    margin-right: 40px;
}

.transaction {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.trans-profit {
    text-align: right;
}